.side
  = link_to root_path, class: 'side_text'  do
    .side1
      HOME
    - if user_signed_in?
      = link_to "/users/#{current_user.id}", class: 'side_text' do
        .side1
          MyPage
    - else
      = link_to new_user_registration_path, class: 'side_text' do
        .side1
          Sorry
  = link_to new_tweet_path, class: 'side_text'  do
    .side1
      Tweet
  = link_to rooms_show_path, class: 'side_text' do
    .side1
      Chat
  .side1
    .side_text
      Game
  .side2
    - if user_signed_in?
      = link_to destroy_user_session_path, class: 'side_text', method: :delete do
        LogOut
    - else
      = link_to new_user_registration_path, class: 'side_text' do
        LogIn/SignUp