= render 'shared/header'

%main
  .contents
    .contents__top
      = @tweet.name
    .contents__image
      = image_tag ("#{@tweet.image}")
    .contents__text
      .button-like
        %i.far.fa-heart
        = link_to "#", class: "button-like__text" do
          いいね！ 0
      = @tweet.text



