%nav
  .nav-wrapper
    = link_to "", class: "brand-logo" do
      投稿
    %ul
      #nav-mobile.right.hide-on-med-and-down
        %li
          = link_to do
            投稿する
        %li
          = link_to do
            編集する
        %li
          = link_to do
            削除する

%main
  .main__contents
    .main__contents__top
      = @tweet.name
    .main__contents__image
      = image_tag ("#{@tweet.image}")
    .main__contents__text
      = @tweet.text



