= render 'shared/header'

%main
  = render "side_bar"
  .content
    %ul
      - @tweet.each do |tweet|
        .contents
          %li
            .contents__top
              = tweet.user.nickname
            .contents__image
              = link_to "/tweets/#{tweet.id}", method: :get do
                = image_tag ("#{tweet.image}")
            .contents__text
              .button-like
              = tweet.text
              - if user_signed_in? && current_user.id == tweet.user_id
                = link_to '削除', "/tweets/#{tweet.id}", method: :delete, class: 'delete-btn', data: { confirm: "本当に削除してもよろしいですか？"}
                = link_to '編集', "/tweets/#{tweet.id}/edit", method: :get, class: 'edit-btn'
    = paginate(@tweet)



