= render 'shared/header'

%main
  .content
    %ul
      - @tweet.each do |tweet|
        .contents
          %li
            .contents__top
              = tweet.user.nickname
            .contents__image
              = image_tag ("#{tweet.image}")
            .contents__text
              .button-like
                %i.far.fa-heart
              = tweet.text
    = paginate(@tweet)



