= render 'shared/header'

%main
  .main__contents
    .main__contents__top
      = @tweet.name
    .main__contents__image
      = image_tag ("#{@tweet.image}")
    .main__contents__text
      = @tweet.text



