= render 'shared/header'

%main
  .content
    %ul
      .contents
        %li
          .contents__top
            = @tweet.user.nickname
          .contents__image
            = image_tag ("#{@tweet.image}")
          .contents__text
            .button-like
              %i.far.fa-heart
            = @tweet.text
            - if user_signed_in? && current_user.id == @tweet.user_id
              = link_to '削除', "/tweets/#{@tweet.id}", method: :delete, class: 'delete-btn', data: { confirm: "本当に削除してもよろしいですか？"}
              = link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get, class: 'edit-btn'



